REACT_APP_AIR_DROP_ADDRESS=xxxxxxxxx
REACT_APP_REWARD_TOKEN=xxxxxxxxx
REACT_APP_ABC_TOKEN=xxxxxxxxx
REACT_APP_RPC_URL=https://goerli.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
REACT_APP_WALLET_ADDRESS=xxxxxxxxx
REACT_APP_CHATGPT_ENDPOINT=https://chatbot.nexgenml.com
REACT_APP_API_ENDPOINT=http://localhost:8000
REACT_APP_ADMIN_WALLET=xxxxxxxxx
REACT_APP_ADMIN_WALLET_1=xxxxxxxxx
REACT_APP_PROMOTIONS_RECEIVER_WALLET=xxxxxxxxx
REACT_APP_MIN_WALLET_BALANCE_TO_CREATE_CAMPAIGN=100
REACT_APP_NML_CONTRACT_ADDRESS=0x3858daD8A5b3364BE56DE0566AB59e3D656c51F6
REACT_APP_MIN_WALLET_BALANCE_TO_DO_BLOGGING=1000000000
REACT_APP_MOVIE_TICKETS_TAG_LINE="Come join nml and watch movies for a discount. Contract: 0x3858daD8A5b3364BE56DE0566AB59e3D656c51F6, Website: https://nexgenml.io/own-a-memory"