.main {
  padding: 16px;
  color: white;
}
.topBar {
  display: flex;
}
.earnings {
  display: flex;
  justify-items: center;
  align-items: center;
}
.navList svg {
  color: white;
}
.navList span {
  font-size: 1.2rem;
}
.earningsText {
  color: #f4b77c;
}
.selectedListItem {
  background-color: #625858 !important;
}
