.heading {
  text-align: center;
  margin-bottom: 30px !important;
}
.form {
  padding-left: 16px;
}
/* @media only screen and (max-width: 640px) {
  .form {
    padding: 0;
  }
} */
.inviteBox {
  margin: 16px;
}
