.container {
  width: fit-content;
}
.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  position: relative;
  letter-spacing: 3px;
  padding-bottom: 2rem;
}
.container h1::after {
  content: "Comming Soon";
  position: absolute;
  font-size: 0.8rem;
  top: -1.4rem;
  right: 5rem;
  background-color: red;
  padding: 3px;
  display: none;
}
.timers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1rem;
}
.timers .timer {
  background-color: #e3ddd3;
  width: 150px;
  height: 150px;
  padding: 0.1rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.timers .timer::before {
  content: "";
  background-color: rgb(251, 156, 3);
  inset: 0px;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  animation: animate 3s linear infinite none;
  transition: 1s;
}
.timers .timer div {
  position: relative;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timers .timer div span {
  font-size: 40px;
  color: rgb(251, 156, 3);
  padding: 10px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    inset: 15px;
  }
  50% {
    transform: rotate(90deg);
    inset: 5px;
  }
  100% {
    transform: rotate(180deg);
    inset: 0px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .timers {
    gap: 0.1rem;
    margin: auto;
    width: fit-content;
  }

  .timers .timer {
    width: 110px;
    height: 110px;
  }
  .timers .timer div {
    width: 100px;
    height: 100px;
    font-size: 12px;
  }
  .timers .timer div span {
    font-size: 28px;
  }
}
