.main {
  padding: 16px;
}

.editorMain {
  border: 1px solid #cdc5c5;
  border-radius: 4px;
  height: 200px;
  padding: 16px;
}
.toolbarMain {
  border: 1px solid #cdc5c5 !important;
}

@media only screen and (max-width: 640px) {
  .form {
    padding: 0;
  }
}
.heading {
  text-align: center;
  margin-bottom: 30px !important;
}
.linkBox {
  text-align: center;
}
.campaignsTableHeader {
  text-align: center;
  padding: 24px;
}

.earningsText {
  text-align: center;
}
.pastTableHeader {
  text-align: center;
  padding: 24px;
}
.tweetText {
  margin-top: 8px !important;
  border: 1px solid lightgrey;
  background-color: antiquewhite;
  border-radius: 8px;
  padding: 8px;
  word-wrap: break-word;
}
.subHeading {
  background-color: lightgrey;
  padding: 4px;
  padding-left: 8px;
  border-radius: 8px;
}
.timeLeft {
  border: 1px solid lightgrey;
  background-color: antiquewhite;
  border-radius: 4px;
  padding: 4px;
}
